# leaves are able to codesign
[ req ]
prompt                = no                    # Do not prompt for DN
distinguished_name    = codesign_dn           # DN template
req_extensions        = codesign_ext          # Desired extensions

[ codesign_dn ]
commonName            = Quill Test Leaf

[ codesign_ext ]
keyUsage              = critical,digitalSignature
extendedKeyUsage      = critical,codeSigning
subjectKeyIdentifier  = hash
