# leaves are able to codesign
[ req ]
prompt                = no                    # Do not prompt for DN
distinguished_name    = codesign_dn           # DN template
req_extensions        = codesign_ext          # Desired extensions

[ codesign_dn ]
commonName            = quill-test-leaf

[ codesign_ext ]
# http://www.flyingcanuck.ca/posts/2021-08-27_iOS15ServerCertIssue/
keyUsage              = critical,digitalSignature
extendedKeyUsage      = critical,codeSigning
subjectKeyIdentifier  = hash
